@import '../../node_modules/jquery-contextmenu/src/sass/jquery.contextMenu';
@import '../../node_modules/components-jqueryui/themes/base/jquery-ui';
/* PVSCL:IFCOND(Autocomplete, LINE) */
@import '../../node_modules/awesomplete/awesomplete';
/* PVSCL:ENDCOND */

/* PVSCL:IFCOND(Manual, LINE) */
@import './groupSelection';
/* PVSCL:ENDCOND */
/* PVSCL:IFCOND(PreviousAssignments, LINE) */
@import './exam';
/* PVSCL:ENDCOND */
@import './tagWrapper';
@import './locationManager';
@import './sidebar';
@import './fixes';
@import 'toolset';
@import 'userFilter';
@import './textAnnotator';
/* PVSCL:IFCOND(SuggestedLiterature, LINE) */
@import './reviewAssistant';
/* PVSCL:ENDCOND */
/* PVSCL:IFCOND(Canvas, LINE) */
@import './reviewCanvas';
/* PVSCL:ENDCOND */
