@import "./variables";

// Comments container styles

$previousAssignmentWidth: 50%;
$previousAssignmentContainerWidth: 100%;

.previousAssignmentsContainer {
  max-width: $previousAssignmentContainerWidth;
  grid-template-columns: repeat(2, calc( #{$previousAssignmentWidth} - 0.5px));
  grid-gap: 1px;
  display: grid;
  margin-bottom: 5px;
}

.previousAssignmentContainer {
  max-width: 100%;
  background-color: rgba(125,125,125,0.2);
}

.previousAssignmentLink {
  max-width: calc( 100% - 5px - 15px );
}

.previousAssignmentAppendButton {
  width: 15px;
  cursor: pointer;
  float: right;
  border-radius: 2px;
}

.previousAssignmentAppendButton:hover {
  background-color: rgba(125, 125, 125, 0.6);
}

.previousAssignmentContainer {
  padding-right: 5px;
  border-radius: 5px;
}

.previousAssignmentContainer:last-child:nth-child(odd) {
  grid-column: span 2;
}
