@import "./variables";

.editRelation3Btn {
  background-image: url($chromeExtensionMainURL + '/images/editBtn.png'); /* 16px x 16px chrome.extension.getURL('/images/generator.png')*/
}

.linkFormSpan {
  width: 160px;
  display: inline-block;
}

.linkWordSpan {
  width: 110px;
  display: inline-block;
}

.relationDiv {
  text-align: left;
  font-size: 14px;
  border-style: solid;
  border-color: black;
}

.relationDivHeader {
  text-align: left;
  font-size: 14px;
}

.relationSpanHeader {
  font-weight: bold;
  text-decoration: underline;
}

.large-swal {
  width:800px !important;
}

.dltRelationBtn {
  float: right;
}

.editRelationBtn {
  float: right;
}

.swapRelationBtn {
  float: right;
}

#lastRelationshinpButton {
  width: 29px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none !important;
}

#lastRelationshinpButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
