@import '../../node_modules/bootstrap/scss/bootstrap';

.annotationServerConfiguration[aria-hidden="true"] {
  display: none;
}

.requiredFormInput:after {
  color: red;
  content: " *";
}

input:invalid {
  border-color: red;
  border-width: 2px;
}

.errorMessage {
  color: red;
}

.textMessage {
  color: black;
}

.clickableInfoSpan {
  font-weight: bold;
  cursor: pointer;
}

div[aria-hidden="true"] {
  display: none;
}
