@import "./variables";

/* Sidebar wrapper */

#abwaSidebarWrapper {
  all: initial;
  /* * {
    min-width: unset;
  }*/
  /* input[type=checkbox], input[type=radio] {
    display: none
  }*/
  user-select: none;
}

#abwaBucketBar{
  background-color: rgba(0,0,0,0.08);
  width: 1em;
  left: 0;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: $sidebarZIndex - 1;
}

#abwaSidebarContainer {
  z-index: $sidebarZIndex;
  position: fixed;
  left: $sideBarWidth;
  width: 0;
  height: 100%;
  margin-left: - $sideBarWidth;
  overflow-y: auto;
  transition: width 0.5s ease;
  bottom: 0;
  background-color: whitesmoke;
  font-size: 14px;
  font-family: sans-serif;
  border-right: 1px solid black;
  overflow-y: overlay;
}

#abwaSidebarContainer[data-shown="true"] {
  width: $sideBarWidth + 11px;
  padding-right: 2px;
}

/* Sidebar button */

#abwaSidebarButton{
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: calc( #{$sidebarZIndex} + 1);
  top: 1em;
  left: 1em;
  transition: all 0.5s ease;
}

#abwaSidebarButton[data-toggled="true"]{
  margin-left: $sideBarWidth + 10px;
}

.abwaSidebarButtonIconBar {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#abwaSidebarButton span:first-of-type,
#abwaSidebarButton span:nth-of-type(2),
#abwaSidebarButton span:last-of-type {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

#abwaSidebarButton[data-toggled="true"] span {
  margin: 0 auto;
}
#abwaSidebarButton[data-toggled="true"] span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#abwaSidebarButton[data-toggled="true"] span:nth-of-type(2) {
  opacity: 0;
}
#abwaSidebarButton[data-toggled="true"] span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


/* Sidebar container common styles */
.sidebarContainer[aria-hidden="true"]{
  display: none;
}

.containerHeader{
  background-color: $containerHeaderBackgroundColor;
  color: $containerHeaderFontColor;
  padding: 0.2rem;
  min-width: calc( #{$sideBarWidth} - 0.5rem - 0.2rem);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.bodyContainer {
  background-color: $sidebarBackgroundColor;
  min-width: calc( #{$sideBarWidth} - 0.5rem - 0.2rem);
}

.bodyContainer[aria-hidden="true"]{
  display: none;
}

/* Scrollbar */

/* width */
#abwaSidebarContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#abwaSidebarContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
#abwaSidebarContainer::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.5);
  border-radius: 10px;
}

#abwaSidebarContainer::-webkit-scrollbar-thumb:hover {
  width: 10px;
}

/* Handle on hover */
#abwaSidebarContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(100,100,100,0.3);
}
