@import "./variables";

#buttonContainer {
  padding-left: 2px;
  padding-top: 5px;
}

.tagGroup{
  border: 1px solid grey;
  width: 99%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0;
}

.groupNameContainer {
  height: 18px;
}

.groupName{
  color:black;
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  width: 130px;
  float: left;
  padding-bottom: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: background-color, color 0.5s ease;
}

.collapseToggle {
  background-image: url($chromeExtensionMainURL + 'images/arrowUp.svg');
  background-size: 20px 20px;
  filter: brightness(10.2) sepia(1) hue-rotate(180deg) saturate(5);
  display: inline-block;
  width: 0;
  height: 15px;
  content:"";
  padding-right: 20px;
  float:right;
  transition: transform 0.5s;
  cursor: pointer;
}

.groupName[data-number-of-annotations]:before {
  border-right: 1px solid black;
  content: attr(data-number-of-annotations);
  border-top-left-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: whitesmoke;
  margin-bottom: auto;
  margin-top: auto;
  color: black;
  float: left;
}

.groupName:before{
  background-size: 20px 20px;
  display: inline-block;
  height: 18px;
  content:"";
  padding-right: 20px;
  float:left;
}

.groupName[data-number-of-annotations="0"]:before {
  visibility: hidden;
}

.tagContainer[aria-hidden="true"]{
  display: none;
}

/* Collapsable tag group */

.tagGroup[aria-expanded="false"] {
  .tagButtonContainer {
    height: 0;
    overflow: hidden;
  }

  .collapseToggle {
    transform: rotate(180deg);
    padding-top: 3px;
  }
}

.tagButtonContainer{
  padding: 5px 0 0;
  transition: height 0.5s;
}

.tagButton {
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  border: 1px solid black;
  background-color: rgba(200,200,200,0.8);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition: background-color, color 0.5s ease;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  max-width: 99%;
  min-width: 99%;
  text-overflow: ellipsis;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.tagButton[data-number-of-annotations]:before {
  border-right: 1px solid black;
  content: attr(data-number-of-annotations);
  padding-left: 5px;
  padding-right: 5px;
  background-color: whitesmoke;
  margin-bottom: auto;
  margin-top: auto;
  color: black;
  float: left;
}

.tagButton[data-number-of-annotations="0"]:before {
  visibility: hidden;
}

.tagButton[role="annotation"] {
  padding: 10px;
}

.tagButton[role="marking"] {
  padding: 5px;
}

.buttonIcon {
  height: 1.5rem;
}

#newThemeButton {
  margin-bottom: 15px;
}

input.customizeInput {

}

textarea.customizeInput {
  height: 5em !important;
  padding-top: .75em !important;
}

.formCodeName {
  width: 100%;
}

.formCodeDescription {
  width: 100%;
}

.topicBasedHeaders {
  text-align: center;
  margin-bottom: 3px;
  font-weight: bold;
}
