@import "./variables";

.tagGroup{
  border: 1px solid grey;
  width: calc( #{$sideBarWidth} - 0.4rem - 10px );
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0;
}

.groupName{
  background: $subContainerHeaderBackgroundColor;
  color:white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.groupName:after{
  background-image: url($chromeExtensionMainURL + 'images/arrowUp.svg');
  background-size: 20px 20px;
  display: inline-block;
  width: 0;
  height: 15px;
  content:"";
  padding-right: 20px;
  float:right;
  transition: transform 0.5s;
}

.groupName:before{
  background-image: url($chromeExtensionMainURL + 'images/pin.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 0;
  height: 15px;
  content:"";
  padding-right: 20px;
  float:left;
}

.tagContainer[aria-hidden="true"]{
  display: none;
}

/* Collapsable tag group */

.tagGroup[aria-expanded="false"] {
  .tagButtonContainer {
    height: 0;
    overflow: hidden;
  }

  .groupName:after {
    transform: rotate(180deg);
  }
}

.tagButtonContainer{
  padding: 5px 0 0;
  transition: height 0.5s;
}

.tagButton {
  cursor: pointer;
  margin-bottom: 5px;
  display: block;
  border: 1px solid black;
  background-color: rgba(200,200,200,0.8);
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc( #{$sideBarWidth} - 0.6rem - 10px);
  min-width: calc( #{$sideBarWidth} - 0.6rem - 10px);
  text-overflow: ellipsis;
}

.tagButton[data-chosen="true"] {
  border: 3px solid black;
}

.tagButton[role="annotation"] {
  padding: 10px;
}

.tagButton[role="marking"] {
  padding: 5px;
}

.buttonIcon {
  height: 1.5rem;
}
