.highlightedAnnotation {
  cursor: pointer;
  text-decoration: wavy;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.unHighlightedAnnotation {
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}
