ul.ui-autocomplete{
  z-index: 2147483647 !important;
}
.ui-menu-item{
  font-size: xx-small
}
#literatureList{
  list-style:none;
}
#literatureList li span{
  margin-left: 20px;
  cursor:default;
}
#literatureList li{
  margin-top:2px;
  font-size: xx-small;
  text-align: left;
  /*margin-left: -38px;*/
  max-height: 15px;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 3px 3px 3px 3px;
  text-overflow:ellipsis;
  word-break: break-all;
  overflow:hidden;
  white-space: nowrap;
}
.removeReference{
  position:absolute;
  display:block;
  box-sizing:border-box;
  width:13px;
  height:13px;
  border-width:3px;
  border-style: solid;
  border-color:#ccc;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%);
  background-color:#ccc;
  transition: all 0.3s ease;
  margin-top: -1px;
}
.removeReference:hover{
  border-color:#666;
  background-color:#666;
  cursor:pointer;
}
