@import "./variables";

.tagGroup{
  border: 1px solid grey;
  width: calc( #{$sideBarWidth} - 0.4rem - 10px );
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0;
}

.groupName{
  background: $subContainerHeaderBackgroundColor;
  color:white;
  font-size: 1rem;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-margin-after: 3px;
  -webkit-margin-before: 3px;
}

.tagContainer[aria-hidden="true"]{
  display: none;
}

.tagButtonContainer{
  padding: 5px 0 0;
}

.tagButton {
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  border: 3px solid black;
  background-color: rgba(200,200,200,0.8);
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc( #{$sideBarWidth} - 0.6rem - 10px);
  min-width: calc( #{$sideBarWidth} - 0.6rem - 10px);
  text-overflow: ellipsis;
}
