$sidebarZIndex: 2147483647;
$sideBarWidth: 150px;
$themeColor: #7952b3;
$themeLightColor: #9972d3;
$sidebarBackgroundColor: whitesmoke;
$containerHeaderBackgroundColor: rgba(50,50,50,0.7);
$subContainerHeaderBackgroundColor: rgba(100,100,100,0.7);
$containerHeaderFontColor: white;
$switchSize: 48px;
